@media only screen and (max-width: 768px) {
    #footer-div {
       height: 50vh;
       margin-top: 20rem;
    }
 }
 
 @media only screen and (min-width: 1024px) {
    #footer-div {
       height: 20vh;
       padding: 2rem;
    }
 }

 


 .footer1{
    left: 0;
    position: relative;
 }
 

 
 .fbutton a {
    font-size: 1.2em; /* Adjusts relative to screen size */
 }

 

 @media(min-width:375px){
     .footer1 button{
        /* left: 14rem; */
        z-index: 5;
        position: absolute;
        height: 3.5vh;
     }

     .hh{
        font-size: 16px;
     }

    .footer1 a {
        font-size: 1.2em; /* Adjusts relative to screen size */
        left: 0;
        position: absolute;
        top: 0;
     }

    
  .footer1{
    background-color: rosybrown;
    /* width: 100VW; */
    width: 80%;
    left: 0;
    position: relative;
    height: 15vh;
    border-bottom: 2px solid blue;
  }

  .footer2{
    background-color: black;
    width: 80%;
    left: 0;
    height:12vh;
    top: 38rem;
    position: absolute;
  }

  #footer-div {
    left: 0;
    position: relative;
    height: 50vh;
    margin-top: 20rem;
 }


 }











 /* #footer-div{
    background-color: rgba(199, 175, 175, 0.875);
    width: 100vw;
    height: 70vh;
    top: 250rem;
    position: absolute;
    left: 0;
    
  } */
  
  
  
 
  
 
  
  
  .hh{
    left: 2rem;
    position: absolute;
  }
  
  .fbutton a{
    text-decoration: none;
    color: white;
    font:bold;
    top: 0.8rem;
    position: relative;
    text-align: center;
  }
  
  
  .footer1{
    background-color: rosybrown;
    width: 100VW;
    left: 0;
    height: 15vh;
    border-bottom: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 