.carousel-container {
    position: absolute;
    top: 10rem;
    /* width: calc(100vw - 250px);  */
    width: 100vw;
    height: 70vh;
    /* Adjust height as needed */
    /* margin-left: 250px; Ensure space for sidebar */
    /* overflow: hidden;  */
    left: 0;
    /* margin-right: 70rem; */
    /* padding-right: 3rem; */
    /* margin-right: 10rem; */
}

.carousel {
    margin: 0;
    padding: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 70vh;
}

.carousel-item img {
    position: relative;
    left: 0;
    /* margin-right: 10rem; */
    width: 100%;
    height: 70vh;
    object-fit: contain;
    /* Ensure images cover the entire carousel */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}






.d-flex {
    display: flex;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex-grow: 1;
    padding: 1rem;
}

.vertimages {
    gap: 3.6rem;


}

.vertimages img {
    top: 9rem;
    left: 83%;
    margin: 3rem;
    gap: 3.6rem;
    position: relative;
    display: grid;
    z-index: 1500;
}

.lineimages img {
    /* top: 68%; */
    gap: 3rem;
    margin: 3rem;
    left: 5rem;
    z-index: 1000;
    position: relative;

}

.lineimages {
    top: 33%;
    position: relative;

    z-index: 1000;

}


.caro-container {
    top: 55rem;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.caro-grid {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.caro-item {
    flex: 0 0 auto;
    width: 25%; /* Adjust this to fit more or fewer images in the view */
    text-align: center;
}

.caro-item img {
    max-width: 100%;
    height: auto;
}

.caro-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
    z-index: 1;
}

.caro-button.left {
    left: 10px;
}

.caro-button.right {
    right: 10px;
}






.additional-product-container{
    top: 150rem;
    position: absolute;
    left: 4rem;
   
    justify-content: center;
}



.additional-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    top: 130rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.product-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.product-item img:hover {
    transform: scale(1.1);
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    margin: 5px 0;
}

.product-item button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #0056b3;
}

.product-item button.added-to-cart {
    background-color: #28a745;
}













/* @media only screen and (max-width: 540px) {

    .logo-carousel-container {
        width: 40vw;
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 10px 0;
        top: 1rem;
        position: absolute;
        left: 0;

    }

    .logo-carousel-container img {

        padding: 10px 0;
        top: 1rem;
        position: absolute;
        left: 0;


    }
} */

/* @media only screen and (max-width: 768px) {
    .vertimages {
        top: 3rem;
        margin-left: 22rem;
         width: 10vw;
        z-index: 1500;
    }

    .vertimages img {
        width: 10vw;
        top: 1rem;
        margin-left: 22rem;
        position: absolute;
        display: grid;

    }

    .logo-carousel-container {
        width: 100vw;
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 10px 0;
        margin-top: 40rem;
        position: relative;
        left: 0;
    }

} */

/* @media only screen and (max-width: 820px) {
    .vertimages {
        margin-top: 4rem;
        margin-left: 13rem;
        position: absolute;
       

        width: 10vw;
        z-index: 1500;
    }

    .vertimages img {
        width: 10vw;
        margin-top: 1rem;
        position: relative;
        display: grid;

    }

    .lineimages img {
        width: 20vw;
        margin-top: 39rem;
        gap: 3rem;
        margin: 1rem;
        left: 0;
        z-index: 1500;
        position: relative;

    }

    .lineimages {
        margin-top: 39rem;
        position: relative;
        left: 0;
        z-index: 1000;
    }



    .logo-carousel-container {
        width: 100vw;
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 10px 0;
        margin-top: 80rem;
        position: absolute;
        margin: 40rem;
        left: 0;
    }

    .logo-carousel-container img {

        padding: 10px 0;
        margin-top: 50rem;
        position: relative;
        left: 0;
    }

} */

/* @media only screen and (max-width: 912px) {

    .logo-carousel-container {
        width: 100vw;
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 10px 0;
        margin-top: 80rem;
        position: relative;
        left: 0;
    }

    .logo-carousel-container img {

        padding: 10px 0;
        margin-top: 50rem;
        position: relative;
        left: 0;
    }

} */




/* @media only screen and (max-width: 1024px) {

    .logo-carousel-container {
        width: 100vw;
        overflow: hidden;
        background-color: #f1f1f1;
        margin-top: 8rem;
        position: relative;
        left: 0;
        margin-bottom: 40rem;
    }

    .logo-carousel img {
        width: 10vw;
        top: 5rem;
       
    }


    .vertimages {
        left: 0rem;
        width: 10vw;
        z-index: 1500;
    }

    .vertimages img {
        width: 10vw;
        top: 3rem;
        left: 7rem;
        position: relative;
        display: grid;

    }

    .lineimages img {
        width: 20vw;
        top: 30rem;
        gap: 3rem;
        margin: 1rem;
        left: 0;
        z-index: 1500;

    }

    .lineimages {
        position: absolute;
        left: 0;
        z-index: 1000;
    }
} */



/* @media only screen and (max-width: 1280px) {

    .logo-carousel-container {
        width: 100vw;
        overflow: hidden;
        background-color: #f1f1f1;
        margin-top: 16rem;
        position: relative;
        left: 0;
        margin-bottom: 40rem;
    }

    .logo-carousel img {
        width: 10vw;
        top: 5rem;
    }
} */



















@media only screen and (min-width: 344px) and (max-width: 1280px) {

    .carousel-item img .carousel-container {
        position: absolute;
        top: 5rem;

    }

    .carousel-container {
        height: 10vh;
    }

    .vertimages {
        top: 7rem;
        position: absolute;
        /* left: 8rem; */
        /* margin-right: 30%; */

        width: 10vw;
        z-index: 1500;
    }

    .vertimages img {
        width: 20vw;
        /* top: 1rem; */
        left: 8rem;
        /* left: 240%; */
        /* margin-right: 50%; */
        /* gap: 3.6rem; */
        /* position: relative; */
        display: grid;

    }

    .lineimages img {
        width: 30vw;
        top: 40rem;
        gap: 3rem;
        margin: 1rem;
        left: 0;
        z-index: 1500;

    }

    .lineimages {


        position: absolute;
        left: 0;
        /* right: 20%; */

        z-index: 1000;



    }


    .logo-carousel-container {
        width: 100vw;
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 10px 0;
        top: 67rem;
        /* height: 10vh; */
        position: absolute;
        left: 0;
    }

    .logo-carousel img {
        width: 70vw;
        /* height: 100px; */
        margin: 0 10px;
        top: 0rem;
    }


    .product-container {
        width: 20vw;
       left: 0;
       position: relative;
       top: 77rem;
      }

      .product-item {
        left: 0;
        
    
        width: 200px;
        position: relative;
        transition: transform 0.2s ease-in-out;
      }

      .time-zone{
        top: 77rem;
        width: 2vw;
        height: 2vh;
        color: red;
        background-image: url(../src/components/assets/YMShop-home1-deal.png);
        font-size: 4rem;
        left: 0;
        position: absolute;
       
      }

      .caro-container {
        top: 78rem;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    
    .additional-product-container{
        display: grid;
        width: 20vw;
        left: 0;
        position: relative;
        top: 90rem;

    }
    .additional-product-container .product-list{

        width: 5vw;
       
      

    }

}