/* ProfilePage.css */
.profile-page {
    padding: 2rem;
  }
  
  .profile-page h1 {
    margin-bottom: 1rem;
  }
  
  .profile-page p {
    margin-bottom: 0.5rem;
  }
  
  .profile-page button {
    margin-top: 1rem;
  }
  

  #IMGCART{
    top: 2REM;
    
    position: relative;
  }


  #imgupload{
    
    left: 18rem;
    position: absolute;
  }

  /* #imgupload{
    margin: 3rem;
    top: 9rem;
    left: 4rem;
    position: absolute;
  } */


  
  
  #profcss{
    top: 10rem;
    position: relative;
}



  @media only screen and (min-width: 344px) and (max-width: 1280px) {

    
  #IMGCART img{
    width: 60vw;
  }

  
  #profcss{
      top: 10rem;
      position: relative;
  }
 

  #imgupload{
    margin: 3rem;
    top: 4.4rem;
    left: 1rem;
    position: absolute;
  }

  }

  @media (max-width:768px) {
    #imgupload{
      margin: 3rem;
      top: 3.3rem;
      left: 15.3rem;
      position: absolute;
    }
  
  }

  @media (max-width:820px) {
    #imgupload{
      margin: 3rem;
      top: 3.3rem;
      left: 18rem;
      position: relative;
    }
  
  }